server:
  port: 6111
spring:
  application:
    name: spring-cloud-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.1.12:8848
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
      - id: host_route
        uri: http://localhost:6001
        predicates:
        - Path=/common/**
        filters:
        - StripPrefix=1

      - id: host_route
        uri: http://localhost:6002
        predicates:
        - Path=/community/**
        filters:
        - StripPrefix=1

      - id: host_route
        uri: http://localhost:6003
        predicates:
        - Path=/mall/**
        filters:
        - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: "*"